<div class="container">
  {{#each puppies}}
  <div class="puppy-list">
    <a data-puppy='{{id}}' href="/puppies/{{id}}"><img class="img-circle" src="{{image}}" alt="{{name}}"></a>
  </div>
  {{/each}}
</div>
